#tblBingo {
    border-collapse: collapse;
    height: 25rem;
    width: 25rem;
    text-align: center;
    font-size: 22pt;
    cursor: pointer;
}

.main-table-cell {
    padding: 0;
    border: 0.5px solid #cccece;

 }

 .cell-format {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.cell-format:hover {
    background-color: #b3b3b3;
}

.letter-div {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letters-bingo {
    padding: 0 1.3rem;
    font-size: 40pt;
    display: none;
}

.strickout {
    color: #a6a3a3;
    font-size: 18pt;
    pointer-events: none;
}

.show-bingo {
    display: inline;
}

#tblBingo {
    border-right: 3px solid #3f9dec;
    border-bottom: 3px solid #3f9dec;
  }
  
  #tblBingo  td,
  th {
    border-top: 3px solid #3f9dec;
    border-left: 3px solid #3f9dec;
  }
